
<div class="yellow-border-container">
    <b><%= data.tender_name %></b>
    <p>Instytucja zamawiająca: <%= data.company %></p>
    <p><%= data.description %></p>
    <p>Termin składania ofert: od <%= data.tender_start_time %> do <%= data.tender_finish_time %></p>
</div>