
<!DOCTYPE html>
    <html>
    <head>
        <title>Przetargi</title>
        <%- include('../common/head-common') %>
    </head>
    <body>
    <%- include('../common/navbar') %>
    <div class="main-content">
        <h1>Zakończone przetargi</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Liczba porządkowa</th>
                <th scope="col">Nazwa / tytuł przedmiotu przetargu</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <% if (data.length === 0) { %>
                <p class="yellow-border-container">Brak zakończonych przetargów.</p>
            <% } else { %>
                <% data.forEach(row => { %>
                    <tr>
                        <th scope="row"><%= row.id %></th>
                        <td><a href="/tenders-list/<%= row.id %>"><%= row.tender_name %></a></td>
                        <td>Zakończono zbieranie ofert</td>
                    </tr>
            <% }); } %>
            </tbody>
        </table>

    </div>
    <%- include('../common/body-common') %>
    </body>
</html>
