
<!DOCTYPE html>
<html>
    <head>
        <title>Przetargi</title>
        <%- include('../common/head-common') %>
    </head>
        <body>
        <%- include('../common/navbar') %>
        <div class="main-content">
            <h1>Szczegóły przetargu</h1>
            <div class="yellow-border-container">
                <b><%= data.tender_name %></b>
                <p>Instytucja zamawiająca: <%= data.company %></p>
                <p><%= data.description %></p>
                <p>Termin składania ofert: od <%= data.tender_start_time %> do <%= data.tender_finish_time %></p>
            </div>
        </div>
        <%- include('../common/body-common') %>
    </body>
</html>
